header, footer{
    width: 50%;
    height: 200px;
    margin: auto;
}

h2{
    font-size: 28px;
}

nav{
    text-align: right;
}

li{
    font-size: 18px;
    display: inline;
    margin: 10px;
}

.logo{
    width: 200px;
}

.book{
    width: 250px;
    height: 380px;
    margin: 50px;
    box-shadow: 5px 5px #d9d9d9;
    border: 1px solid black

}

.category{
    width: 75%;
    margin: auto;
    text-align: center;
}